[Unit]
Description=start jupyter notebook

[Service]
Type=simple
ExecStart=/opt/conda/bin/jupyter notebook --notebook-dir=/vagrant/workspace --ip=0.0.0.0 --NotebookApp.token='' --NotebookApp.password='' --no-browser --allow-root
User=root
Group=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target